/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*******PALETTE
#0F0D35-DARK-BLUE
#F6F7F3-WHITE
#393B63-BLUE
#F4BB8A-CREME
****************/
/***************************END RESET*******************************/
html{
    font-size:62.5%;
    font-family: 'Kumbh Sans', sans-serif;
}


body{
    background: #eae8dc;
    width: 100%;
    margin :0 auto;
}
nav{
    font-size:3rem;
    color:#eae8dc;
    background:#0f0d35;
    height:10rem;
    width: 100%;
   
}
label.logo{
    color:#F4F2EC;
    font-weight:bold;
    
}
nav ul{
    float:right;
    margin-right:2rem;
}
ul li a{
    font-size:2rem;
    color:white;
    text-decoration: none;
}
nav ul li{
    display:inline-block;
    line-height: 1rem;
    
}

nav ul li a{
    font-size:2rem;
    text-transform:uppercase;
    padding: 7px 13px;
    border-radius:5px;
}

a.active,a.hover{
    background: #eae8dc;
    transition: .10s;
}
.checkbtn{
    font-size:3rem;
    color:#eae8dc;
    float:right;
    margin-right:30px;
    cursor:pointer;
    display: none;

}

#check{
    display: none;
}

@media(max-width:952px){
    label.logo{
        font-size:3rem;
        padding-left:5rem;
    }
    nav ul li a{
        font-size:2rem;

    }

}
@media(max-width:858px){
    .checkbtn{
        display:block;
    }
    ul{
        position:fixed;
        width: 100%;
        height: 100vh;
        left:-100%;
        text-align: center;
        transition:all .5s;

    }  
    nav ul li{
        display: block;
        margin:50px;

    }
    nav ul li a{
        font-size:2rem;
    }
    a:hover,a.active{
        background:none;
        color:0082e;
    }
    #check:checked ~ ul{
        left:0;
    }
}

img {
    width: 100%;
    height: 40%;
}
.img-cards{
    height: 0;
    margin-bottom: 0;
}
.img-cards img{
    width:80%;
    height: 40%;
    border:3px solid black;
}
.img-middle-section img{
    height: 60%;
}



#top-section{
    width: 100%;
    height: auto%;
    display: flexbox;
    border: 3px solid black;
 
}

.img-top-section{

    margin-left:1rem;
}

.img-middle-section{
    width:30%;
    height: 100%;
    margin-top:1rem;
    border-radius: 2rem;
    float:right;

}
.statements{
    border:5px solid #be2623;
    width: 90%;
    height: 40%;
    margin-left:6rem;
    background: #BE2623;
    color:#f4f2ec;

}
.statements h1{
    font-size:3rem;
    margin:1rem;
}
.statements p{
    font-size:2rem;
    margin:1rem;
}
/******VOTERS CARDS*********/
.container{
    display: flexbox;
    justify-content: space-around;
}


.issue-sec{
    widows: 100%;
    height: 80%;
    display:flex;
    flex-wrap: wrap;
   
   
}

.statements{
    margin-bottom:2rem;
}
.middle-section{
    margin-top: 1rem;;
}
.hd-md-section{
    text-align: center;
}

footer{
    height: 20%;
    width: 100%;
    background: darkblue;
    color:white;
    text-align:center;
    font-size:1.5rem;
    line-height: 3rem;;
}



